Django==1.7.4
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
args==0.1.0
beautifulsoup4==4.3.2
clint==0.4.1
fuzzywuzzy==0.4.0
gunicorn==19.2.0
itsdangerous==0.24
python-Levenshtein==0.11.2
requests==2.4.3
